{%- assign levels = site.data.ImperataDerivata.levels -%}
{%- assign start = levels[include.depth] -%}
{%- include level-entries.html level=start -%}
{%- assign chained = level_entries -%}
<ul class="chains">
{%- for entry in chained %}
  <li>{% include link.html id=entry.id %}
  {%- assign parent = entry.parent -%}
  {%- assign above = include.depth | minus: 1 -%}
  {%- for depth in (0..above) reversed -%}
  {%- assign level = levels[depth] -%}
  {%- include level-entries.html level=level -%}
  {%- assign ancestor = level_entries | where: "id", parent | first %}
    <span class="arrow">→</span> {% include link.html id=ancestor.id %}
  {%- assign parent = ancestor.parent -%}
  {%- endfor %}
  </li>
{%- endfor %}
</ul>
